.search-box{
    display: flex;
    flex: 1 1 40%;
    justify-content: flex-end;
}
.header-btns{
    display:flex;
    flex: 1 1 50%;
    justify-content: space-evenly;
}
.line-items-body{
    height: 400px;
}