<header class="p-2 header-bg">Claim Information</header>
<div formGroupName="claimInformation" class="px-4">
  <div class="d-flex justify-content-between pt-4">
    <label>
      <span class="pr-3">Vendor/Servicer #</span>
      <input type="text" class="form-control" formControlName="vendorNumber">
    </label>
    <label>
      <span class="pr-3">Claim #</span>
      <input type="text" class="form-control" formControlName="claimNumber">
    </label>
    <label>
      <span class="pr-3">Claim Type</span>
      <input type="text" class="form-control" formControlName="claimType">
    </label>
  </div>
  <div class="d-flex justify-content-between pt-4">
    <label>
      <span class="pr-3">Submitter</span>
      <input type="text" class="form-control" formControlName="submitter">
    </label>
    <label>
      <span class="pr-3">Contact</span>
      <input type="text" class="form-control" formControlName="contact">
    </label>
    <label>
      <span class="pr-3">Telephone</span>
      <input type="text" class="form-control" formControlName="telephone">
    </label>
    <label>
      <span class="pr-3">Email</span>
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="d-flex justify-content-between pt-4">
    <label>
      <span class="pr-3">Investor Loan #</span>
      <input type="text" class="form-control" formControlName="investorLoanNumber">
    </label>
    <label>
      <span class="pr-3">FTV Date</span>
      <input type="text" class="form-control" formControlName="ftvDate">
    </label>
    <label>
      <span class="pr-3">Request Date</span>
      <input type="text" class="form-control" formControlName="requestDate">
    </label>
  </div>
  <div class="d-flex justify-content-between">
    <label>
      <span class="pr-3">Current Status</span>
      <input type="text" class="form-control" formControlName="currentStatus">
    </label>
    <label>
      <span class="pr-3">Loan Type</span>
      <input type="text" class="form-control" formControlName="loanType">
    </label>
    <label>
      <span class="pr-3">Borrower</span>
      <input type="text" class="form-control" formControlName="borrower">
    </label>
  </div>
  <div class="d-flex justify-content-between pt-4">
    <label>
      <span class="pr-3">Address</span>
      <input type="text" class="form-control" formControlName="address">
    </label>
    <label>
      <span class="pr-3">Zip</span>
      <input type="number" class="form-control" formControlName="zipCode">
    </label>
    <label>
      <span class="pr-3">City, State</span>
      <input type="text" class="form-control" formControlName="cityAndState">
    </label>
    <label>
      <span class="pr-3">Country</span>
      <input type="text" class="form-control" formControlName="country">
    </label>
  </div>
</div>