<div class="d-flex flex-column">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" class="btn btn-primary mt-2  submit-btn" (click)="submit($event)">Submit</button>
    <div class="search-box input-group w-25 ml-auto my-3">
        <input type="text" class="form-control" placeholder="Search by">
    </div>
    <header class="p-2 header-bg">Comments History</header>
    <ag-grid-angular style="width:auto;height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" (onGridReady)='onGridReady($event)'>
    </ag-grid-angular>
    <button type="button" class="btn btn-light mt-2  submit-btn">Export</button>
</div>